* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f6f6;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

main {
  position: relative;
  min-height: 68vh;
  width: 90%;
  margin: 0 auto;
}

main #grocery_wtrmrk {
  display: none;
}

main #plate_wtrmrk {
  position: static;
  width: 50%;
  margin: 0 auto;
  display: block;
  opacity: 0.5;
}

main h1 {
  font-size: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 4px solid #e5bf24;
}

main #spanish,
main #vietnamese {
  font-size: 16px;
  margin: 5px 0px;
}

main #address-label {
  font-weight: 700;
  display: block;
  margin-top: 10px;
}

main #addressSearch {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #000000;
  border-radius: 3px;
  margin: 10px 0px;
}

main .radio-cont {
  width: 49%;
  height: 48px;
  display: inline-block;
  padding: 13px 0px;
}

main input[type="radio"] {
  border: 0px;
  width: 22px;
  height: 22px;
}

main .labelMiles {
  font-size: 14px;
  vertical-align: top;
}

main #addressSearchSuggest {
  border: 1px solid black;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 3px;
  display: none;
}

main #addressSearchSuggest .selectSuggestion {
  margin: 7px 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

main #addressSearchSuggest p {
  font-size: 10px;
}

main #addressSearchSuggest p img {
  width: 20px;
  margin-bottom: -5px;
  margin-right: 3px;
}

main .textNone {
  color: rgba(255, 0, 0, 0.7);
}

main #accordionMain {
  margin: 10px 0px;
}

main #accordionMain .topLvlAccItem .topLvlLabel {
  cursor: pointer;
  position: relative;
  padding: 5px 0px;
  background-color: #357688;
  border-bottom: 2px solid white;
  color: white;
  height: 60px;
}

main #accordionMain .topLvlAccItem .topLvlLabel .menu-icon {
  position: absolute;
  top: 10%;
  left: -1%;
  width: 50px;
}

main #accordionMain .topLvlAccItem .topLvlLabel .menu-arrow {
  position: absolute;
  width: 20px;
  top: 35%;
  left: 16%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main #accordionMain .topLvlAccItem .topLvlLabel .open {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

main #accordionMain .topLvlAccItem .topLvlLabel .label-text {
  position: absolute;
  top: 33%;
  left: 26%;
}

main #accordionMain .topLvlAccItem .topLvlResults {
  display: none;
}

main #accordionMain .topLvlAccItem .topLvlResults .location-row {
  border-bottom: 2px solid rgba(53, 118, 136, 0.5);
  height: 60px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

main #accordionMain .topLvlAccItem .topLvlResults .location-row .menu-arrow {
  position: absolute;
  width: 20px;
  top: 33%;
  left: 2%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main #accordionMain .topLvlAccItem .topLvlResults .location-row .open {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

main #accordionMain .topLvlAccItem .topLvlResults .location-row .location-label {
  color: #357688;
  position: absolute;
  top: 21%;
  left: 11%;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main #accordionMain .topLvlAccItem .topLvlResults .location-row .location-distance {
  color: #357688;
  position: absolute;
  top: 51%;
  left: 11%;
  width: 90%;
}

main #accordionMain .topLvlAccItem .topLvlResults .location-details {
  display: none;
  padding-bottom: 15px;
}

main #accordionMain .topLvlAccItem .topLvlResults .location-details div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 0px;
}

main #accordionMain .topLvlAccItem .topLvlResults .location-details div .detail-label {
  display: inline-block;
  color: #357688;
  font-size: 14px;
  width: 40%;
  vertical-align: top;
  margin-top: 2px;
}

main #accordionMain .topLvlAccItem .topLvlResults .location-details div .detail-output {
  display: inline-block;
  font-size: 14px;
  margin: 3px 0px;
  width: 58%;
}

main #accordionMain .topLvlAccItem .topLvlResults .location-details div .detail-ftnote-label {
  display: inline-block;
  width: 40%;
  color: black;
  font-style: italic;
  font-size: 11px;
  vertical-align: top;
}

main #accordionMain .topLvlAccItem .topLvlResults .location-details div .detail-ftnote-output {
  display: inline-block;
  vertical-align: top;
  width: 58%;
  font-size: 12px;
}

main #program-info {
  margin: 20px 0px;
}

main #program-info h2 {
  font-size: 18px;
}

main #program-info .info-icon {
  width: 50px;
  margin-bottom: -5px;
  display: inline-block;
}

main #program-info p {
  margin: 10px 0px;
  display: inline-block;
  width: 80%;
}

main #program-info p span {
  font-weight: 700;
  display: block;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #357688;
  padding: 20px 0px;
  margin-top: 30px;
}

footer #foot-btns {
  width: 90%;
  padding: 5px;
  margin: 0 auto;
}

footer #foot-btns .foot-btn {
  padding: 10px 20px;
  margin: 10px 0px;
  width: 100%;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: block;
  font-size: 16px;
  line-height: 200%;
}

footer #foot-btns .foot-btn .btn-icon {
  display: inline-block;
  width: 40px;
  opacity: 1;
  margin-bottom: -13px;
  margin-right: 10px;
}

footer #foot-logos {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #foot-logos a img {
  width: 100%;
}

footer #foot-logos #SJ-logo {
  width: 38%;
}

footer #foot-logos #SCC-logo {
  width: 28%;
}

footer #foot-logos #CfSJ-logo {
  width: 24%;
}

@media screen and (min-width: 600px) {
  main form {
    width: 75%;
  }
  main form .labelMiles {
    font-size: 14px;
  }
  main #addressSearchSuggest {
    width: 75%;
  }
  main #accordionMain {
    width: 75%;
  }
  main #program-info {
    width: 75%;
    margin: 20px 0px;
  }
  main #program-info h2 {
    font-size: 18px;
  }
  main #program-info .info-icon {
    width: 50px;
  }
  main #program-info p {
    vertical-align: top;
    margin-top: 15px;
    width: 85%;
  }
  main #program-info p span {
    display: inline-block;
  }
  footer #foot-btns .foot-btn {
    width: 66%;
  }
  footer #foot-logos #SJ-logo {
    width: 22%;
  }
  footer #foot-logos #SCC-logo {
    width: 18%;
  }
  footer #foot-logos #CfSJ-logo {
    width: 18%;
  }
}

@media screen and (min-width: 1000px) {
  main .container {
    padding: 175px 80px 40px 120px;
  }
  main #plate_wtrmrk {
    width: 450px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 10%;
  }
  main #grocery_wtrmrk {
    display: block;
    opacity: 0.5;
    position: absolute;
    top: 400px;
    right: 13%;
    width: 275px;
  }
  main h1 {
    font-size: 36px;
  }
  main #spanish,
  main #vietnamese {
    font-size: 30px;
    margin: 5px 0px;
  }
  main form {
    width: 70%;
  }
  main form .radio-cont {
    width: 24%;
    display: inline-block;
    padding: 5px 0px;
  }
  main form .labelMiles {
    font-size: 16px;
  }
  main #addressSearchSuggest {
    width: 70%;
  }
  main #accordionMain {
    width: 70%;
    margin: 20px 0px;
  }
  main #accordionMain .topLvlAccItem .topLvlLabel:hover {
    background-color: #2d616e;
  }
  main #accordionMain .topLvlAccItem .topLvlLabel .menu-icon {
    position: absolute;
    top: 10%;
    left: 1%;
    width: 50px;
  }
  main #accordionMain .topLvlAccItem .topLvlLabel .menu-arrow {
    position: absolute;
    width: 20px;
    top: 35%;
    left: 10%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  main #accordionMain .topLvlAccItem .topLvlLabel .open {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  main #accordionMain .topLvlAccItem .topLvlLabel .label-text {
    font-size: 20px;
    position: absolute;
    top: 29%;
    left: 15%;
  }
  main #accordionMain .topLvlAccItem .topLvlResults .location-row:hover {
    background-color: #eeeeee;
  }
  main #accordionMain .topLvlAccItem .topLvlResults .location-row .menu-arrow {
    top: 35%;
    left: 12%;
  }
  main #accordionMain .topLvlAccItem .topLvlResults .location-row .open {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  main #accordionMain .topLvlAccItem .topLvlResults .location-row .location-label {
    width: 80%;
    font-size: 16px;
    top: 17%;
    left: 18%;
  }
  main #accordionMain .topLvlAccItem .topLvlResults .location-row .location-distance {
    width: 80%;
    font-size: 16px;
    top: 51%;
    left: 18%;
  }
  main #accordionMain .topLvlAccItem .topLvlResults .location-details div .detail-label {
    font-size: 16px;
    width: 25%;
    margin-left: 18%;
  }
  main #accordionMain .topLvlAccItem .topLvlResults .location-details div .detail-output {
    font-size: 16px;
    width: 55%;
  }
  main #accordionMain .topLvlAccItem .topLvlResults .location-details div .detail-ftnote-label {
    width: 25%;
    font-size: 14px;
    margin-left: 18%;
  }
  main #accordionMain .topLvlAccItem .topLvlResults .location-details div .detail-ftnote-output {
    width: 55%;
    font-size: 14px;
  }
  main #program-info h2 {
    font-size: 18px;
  }
  main #program-info .info-icon {
    width: 50px;
    margin-left: 50px;
  }
  main #program-info p {
    margin-top: 15px;
    width: 80%;
  }
  main #program-info p span {
    font-weight: 700;
    display: inline-block;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .container {
    padding: 20px 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer #foot-btns {
    width: 50%;
    margin: 0;
  }
  footer #foot-logos {
    width: 40%;
    margin-left: auto;
    margin-right: 0;
  }
  footer #foot-logos #SJ-logo {
    width: 40%;
  }
  footer #foot-logos #SCC-logo {
    width: 25%;
  }
  footer #foot-logos #CfSJ-logo {
    width: 25%;
  }
}
/*# sourceMappingURL=styles.css.map */